.navbar {
  background-color:  #EFE5C6 !important;
}

.navbar-toggler {

}

.navbar-nav {

}

.img-fluid {
  padding-top: 100px;
}

.col-sm {
  padding: 20px;
}

body {
  background-color: #EFE5C6;
}


.btn-secondary {
  margin-top: 5px;
}

.fabrands {
  margin-bottom: 25px;
}
